{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['nome'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="nome">Title</label>
    <input name="nome" id="nome"
      value="{{ request.form['nome'] or post['nome'] }}" required>
    <label for="descricao">Body</label>
    <textarea name="descricao" id="descricao">{{ request.form['descricao'] or post['descricao'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('lista.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}