{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Minhas Tarefas{% endblock %}</h1>
{% if g.user %}
  <a class="action" href="{{ url_for('lista.createtarefa', id=lista.id) }}">
    Nova tarefa
  </a>
{% endif %}
{% endblock %}

{% block content %}
  {% for tarefa in tarefas %}
    <article class="post">
      <header>
        <div>
          <h1>{{ tarefa['ID'] }} - {{ tarefa['Descricao'] }}</h1>
          <div class="about">
            Criado em {{ tarefa['created'].strftime('%Y-%m-%d') }}
            <strong>Status:</strong> {{ tarefa['Status'] }}
          </div>
          {% if g.user['id'] %}
          <a class="action" href="{{ url_for('lista.updateTarefa', id=tarefa['id']) }}">Editar</a>
        {% endif %}
        </div>
      </header>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

